[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
name = "bench_runner"
authors = [
    {name = "Michael Droettboom", email = "mdroettboom@microsoft.com"},
]
description = "Faster CPython's benchmarking runner utilities"
readme = "README.md"
requires-python = ">=3.9"
license = {text = "BSD-3-Clause"}
classifiers = [
    "Programming Language :: Python :: 3",
]
dependencies = [
    "matplotlib==3.9.0",
    "pyperf==2.7.0",
    "pysimdjson==6.0.2",
    "rich==13.7.1",
    "rich-argparse==1.5.2",
    "ruamel.yaml==0.18.6",
    "wheel",
]
dynamic = ["version"]

[project.optional-dependencies]
test = [
    "black==24.4.2",
    "filelock==3.15.1",
    "flake8==7.1.0",
    "pyright==1.1.366",
    "pytest==8.2.2",
    "pytest-xdist==3.6.1",
]

[tool.setuptools_scm]

[tool.setuptools]
include-package-data = true

[tool.setuptools.package-data]
bench_runner = ["templates/*"]
