---
name: ci

"on":
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: pip
      - name: Install dependencies
        run: python -m pip install .[test]
      - name: Run lints
        run: ./lint.sh

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: ["3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python_version }}
          cache: pip
      - name: install dependencies
        run: |
          python -m pip install .[test]
      - name: run tests
        run: |
          python -m pytest tests -n auto -m "not long_running"

  long_test_linux:
    runs-on: ubuntu-latest
    steps:
      - name: Install packages
        run: |
          sudo apt-get update
          sudo apt-get install -y linux-tools-common linux-tools-generic
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.13
          cache: pip
      - name: install dependencies
        run: |
          python -m pip install .[test]
      - name: run tests
        run: |
          python -m pytest tests -m long_running

  long_test_windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.13
          cache: pip
      - name: install dependencies
        run: |
          python -m pip install .[test]
      - name: run tests
        run: |
          python -m pytest tests -m long_running

