---
name: ci

"on":
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: pip
      - name: Install dependencies
        run: python -m pip install .[test]
      - name: Run lints
        run: ./lint.sh

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: ["3.11", "3.12"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python_version }}
          cache: pip
      - name: Install dependencies
        run: |
          python -m pip install .[test]
      - name: Restore cache
        id: cache-restore
        uses: actions/cache@v3
        with:
          path: |
            .pytest_cache
          key: pytest_cache_${{ matrix.python_version }}_8
      - name: Run tests
        run: |
          python -m pytest tests
